html, body {
  margin: 20px;
}

.middle {
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.middle img {
	max-width: 100%;
}

.middle .bg {
	display: inline-block;
	background-image: url('/assets/images/tomster.png');
	height: 308px;
	width: 324px;
}