<h2 id="title">Welcome to Ember.js</h2>

<div class="middle">
	<img src="assets/images/tomster.png" alt="">
	<h3>img tag</h3>	
</div>

<div class="middle">
	<div class="bg"></div>
	<h3>css background-image</h3>
</div>


{{outlet}}
